{% extends layout %}

{% block body %}
    <div class="row">
        <p>O link utilizado é inválido ou já expirou.</p>
        <p><a href="{{ path("#{prefix}/password-request") }}">Solicitar outro link</a></p>
    </div>
{% endblock %}

