{% extends layout %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-info">

                <div class="panel-heading">
                    Recuperar acesso
                </div>
                <div class="panel-body">
                    <p>Por favor, informe o email que foi utilizado para o cadastro no sistema.</p>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
